<template>
	<v-app style="width: 100vw; height: 100vh;">
		<v-content>
			<v-app-bar 
				color="accent" 
				dense 
				:dark="$vuetify.theme.dark"
				v-if="!$store.getters.user"
			>
				<v-toolbar-title> eLibra </v-toolbar-title>
			</v-app-bar>

			<v-sheet 
				width="7vw" 
				height="auto" 
				class="sidebar px-1 py-3" 
				color="accent"
				v-else
			>
				<h1 class="text-center">eLibra</h1>
				<v-list color="transparent" shaped> 
					<v-list-item nuxt class="mb-1" to="/">
						<v-list-item-title>Главная</v-list-item-title>
					</v-list-item>
					<v-list-item nuxt class="mb-1" to="/my">
						<v-list-item-title>Профиль</v-list-item-title>
					</v-list-item>
					<v-list-item nuxt class="mb-1" to="/reader">
						<v-list-item-title>Читалка</v-list-item-title>
					</v-list-item>
					<v-list-item nuxt class="mb-1" to="/admin" v-if="$store.getters.user.is_staff">
						<v-list-item-title>Админпанель</v-list-item-title>
					</v-list-item>
					<v-list-item nuxt class="mb-1" to="/settings">
						<v-list-item-title>Настройки</v-list-item-title>
					</v-list-item>
				</v-list>

			</v-sheet>
			
			<v-container>
				<nuxt />
			</v-container>
		</v-content>
	</v-app>
</template>

<script>
  export default {}
</script>

<style scoped>
.sidebar{
	position: fixed;
	top: 50%;
	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
}
</style>
