<template>
	<div style="backround-color: #F4F4F4;">
		<v-sheet
			class="d-flex flex-wrap justify-content-around mx-auto" 
			v-if="books"
			width="60vw"
			color="transparent"
		>
			<v-card 
				v-for="(each, index) in books" 
				:key="index"
				class="px-2 py-2 mr-3"
				width="300px"
				lazy
				
			>
				<v-card-title>
					{{each.title}}
				</v-card-title>
				<v-card-subtitle>
					{{each.author}}
				</v-card-subtitle>
				<v-card-text>
					{{each.annotation}}
					<v-sheet
						width="200px"
						heigth="300px"
					> 
						<v-img
							class="my-3"
							:src="`http://localhost:8000/storage/${each.img_link}`"
							width="100%"
							heigth="100%"
							contain
						></v-img>
					</v-sheet>
				</v-card-text>
				<v-card-actions>
					<v-btn
						color="primary"
						@click="readBook(index)"
					>	
						Читать
					</v-btn>
				</v-card-actions>
			</v-card>
		</v-sheet>
	</div>
</template>

<script>
	export default {
		middleware: 'authenticated',
		data: () => ({
			books: null
		}),
		methods:{
			async loadBooks(){
				await this.$store.dispatch('fetchBooks')
				this.books = this.$store.getters.books
			},
			readBook(index){
				this.$cookies.set('currentBook', index, {
					path: '/',
					maxAge: 60*60*24*(365/5), // Duration: half of year
				})
				this.$router.push('/reader')
			}
		},
		mounted(){
			this.loadBooks()
		}
	}
</script>

