<template>
    <div class="d-flex justify-center">
        <v-card 
            width="600px" 
            color="accent" 
            :dark="$vuetify.theme.dark"
            dense
            flat
            class="mt-12"
        >
            <v-card-title>
                Авторизация
            </v-card-title>
            <v-card-text>
                <v-form ref="login">
                    <v-text-field
                        v-model="email"
                        placeholder="Введите E-mail"
                        outlined
                        :rules="emailRules"
                        required
                    ></v-text-field>
                    <v-text-field
                        v-model="password"
                        placeholder="Введите пароль"
                        type="password"
                        outlined
                        :rules="passwordRules"
                        required
                    ></v-text-field>
                    {{errors}}
                </v-form>

                <v-btn @click="login()" color="primary">Войти</v-btn>
                <v-btn nuxt to="/register">Регистрация</v-btn>
            </v-card-text>
        </v-card>
    </div>
</template>
<script>
export default {
    middleware: 'anon',
    data(){
        return {
            email:'',
            password: '',
            errors: null,
        }
    },
    methods:{
        login(){
            if(this.$refs.login.validate()){
                this.$store.dispatch('login', {email: this.email, password: this.password}).then(r=>{
                    document.location = '/'
                }).catch(err=>console.log(err))
            }
        }
    },
    computed:{
        emailRules(){
            return [
                value => !!value || 'Это поле обязательно для заполнения',
                value => /.+@.+\..+/.test(value) || 'Неправильный email',
            ]
        },
        passwordRules(){
            return [
                value => !!value || 'Это поле обязательно для заполнения',
            ]
        },

    }

}
</script>