<template>
    <div>

    </div>
</template>

<script>
export default {
    data: () => ({
        book: '',
    }),
    middleware: 'reader',
    methods: {
        getBook(){
            const token = this.$cookies.get('currentBook')
            this.book = this.$store.getters.books[token]
            console.log(this.book)
            const url = 'storage/'+this.book.reader_link
            // const url = 'srorage/reader/voina-i-mir.fb2'
            this.$axios.get(url)
            .then(res => {
                console.log(res.data)
            })
            .catch(err => {
                console.log(err)
            })
        }
    },
    watch: {
        $route(){
            this.getBook()
        },
    },
    mounted(){
        this.getBook()
    }
}
</script>

<style scoped>

</style>