<template>
    <div class="d-flex justify-center">
        <v-card 
            width="600px" 
            color="accent" 
            :dark="$vuetify.theme.dark"
            dense
            flat
            class="mt-12"
        >
            <v-card-title>
                Регистрация
            </v-card-title>
            <v-card-text>
                <span class="color-red">
                    {{errors}}
                </span>
                <v-form ref="register">
                    <v-text-field
                        v-model="email"
                        placeholder="E-mail"
                        outlined
                        :rules="emailRules"
                        required
                    ></v-text-field>
                    <v-text-field
                        v-model="name"
                        placeholder="ФИО"
                        outlined
                        required
                    ></v-text-field>
                    <v-text-field
                        v-model="password"
                        placeholder="Пароль"
                        type="password"
                        outlined
                        :rules="passwordRules"
                        required
                    ></v-text-field>
                </v-form>

                <v-btn @click="register()" color="primary">Подтвердить</v-btn>
                <v-btn nuxt to="/login">Назад</v-btn>
            </v-card-text>
        </v-card>
    </div>
</template>

<script>
export default {
    data : () => ({
        email: '',
        name: '',
        password: '',
        errors: '',
    }), 
    methods: {
        async register(){
            if(this.$refs.register.validate()){
                let registerResponse = null
                try{
                    registerResponse = await this.$store.dispatch('register', {email: this.email, name: this.name, password: this.password})
                }catch(err){
                    console.log(err.response)
                    if(err.response.status === 400 && err.response.data === 'emailError'){
                        this.errors = 'Пользователь с такой электронной почтой уже существует. Выберите другую почту или попробуйте войти в аккаунт'
                    }
                }
                console.log(registerResponse)
                if (registerResponse && registerResponse.status === 201){
                    this.$store.dispatch('login', {email: this.email, password: this.password}).then(r=>{
                    document.location = '/'
                }).catch(err=>console.log(err))
                }
            }
        }
    },
    computed:{
        emailRules(){
            return [
                value => !!value || 'Это поле обязательно для заполнения',
                value => /.+@.+\..+/.test(value) || 'Неправильный email',
            ]
        },
        passwordRules(){
            return [
                value => !!value || 'Это поле обязательно для заполнения',
            ]
        },

    }
}
</script>

<style scoped>
.color-red{
    color: red;
}
</style>